<form action="" method="get">
  <div>
    <label for="query">Type a English sentence what you want to transltate to French.</label>
    <input name="query" id="query" value="We can use a computer.">
  </div>
    <button>Translate from En to Fr</button>
  </div>
  {{ #if query }}
    <p> query: </p>
    <p> {{ query }} </p>
  {{ /if }}
  {{ #if result }}
    <p> result: </p>
    <p> {{ result }} </p>
  {{ /if }}
</form>
