<form action="" method="get">
  <div>
    <label for="query">Please Enter an English sentence what you want to transltate to French.</label>
    <br>
    <input name="query" id="query" value="{{ #if query }}{{ query }}{{ else }}We can use a computer.{{ /if }}">
    <button>Translate from En to Fr</button>
  </div>
  {{ #if query }}
    <p> English: "{{ query }}"</p>
  {{ /if }}
  {{ #if result }}
    <p> French: "{{ result }}"</p>
  {{ /if }}
</form>
